@import "@/styles/variables.scss";

.header {
    display: flex;
    gap:80px;
    position: absolute;
    top:70px;
    left: 80px;
    align-items: center;
    z-index: 10;

    &__nav {
        list-style: none;
        display: flex;
        gap:40px;

        &__item {
            position: relative;
            text-decoration: none;
            color:$white;
            font-weight: 500;
            font-size: clamp(1.1rem,1.1vw,10rem);
        }
    }

    &__burgerMenu {
        display: none;
        background: transparent;
        border: 0px;
    }
}



.header__nav__item::after {
    content: "";
    position: absolute;
    left: 27%;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.header__nav__item:hover::after {
    width: 50%;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row-reverse;
        width: 80vw;
        top:50px;
        justify-content: space-between;

        &__nav {
            display: none;
        }

        &__burgerMenu {
            display: block;
        }
    }
}

@media (max-width: 650px) {
    .header {
        left: 40px;
        top:37px;
    }
}